<div>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
</div>

<%= select_tag "users",
  options_for_select(User.all.map{ |user| [user.name, user.id]}), include_blank: true,
  class: "chosen-select" %>
